@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron bg-light p-5">
    <h1 class="display-4">Bem-vindo ao CadCustomer</h1>
    <p class="lead">Gerencie os dados dos seus clientes de forma rápida e prática.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/Customers" role="button">Gerenciar Clientes</a>
</div>
